@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div>
        <img src="~/assets/avatars/001.png" class="ra-avatar img-responsive col-md-2" />
        <p class="col-md-6"> <span class="Name">Иван</span> <span class="Surname">Демидов</span></p>
        <p class="Login" hidden>dem817</p>
        <p class="RegID" hidden>09868759-8653673</p>
        <p class="Message col-md-7 col-md-offset-1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-md-offset-10">
        <p datetime="2017-04-13T19:20"> 19:20 13.04</p>
    </div>
    <div class="col-md-8 col-md-offset-4">
        <!-- well-sm doesn't work-->
        <div class="col-md-12 panel-heading well">
            <div class="row">
                <div class="col-md-12">
                    <form class="navbar-form">
                        <p>Second data</p>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="row">
                <div class="element-item col-md-10" data-category="owner">
                    <img src="~/assets/avatars/025.png" class="ra-avatar img-responsive col-md-2" />
                    <p class="col-md-offset-2"> <span class="Name">Иван</span> <span class="Surname">Игнатея</span></p>
                    <p class="Login" hidden>Falosetg</p>
                    <p class="RegID" hidden>765434967-85646743849</p>
                    <img src="~/assets/devices/069.png" class="ra-avatar img-responsive col-md-10 col-md-offset-4" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="messageTags">
    <span>#sample #tags</span>
</div>