@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="panel-body comment">
    <div class="row">
        <div class="col-md-2">
            <div>
                <p class="Surname" hidden>Жуковский</p>
                <p class="Login" hidden>Hguart</p>
                <p class="RegID" hidden>8764349650-96763568</p>
                <img src="~/assets/avatars/024.png" class="ra-avatar img-responsive" />
            </div>
        </div>
        <div class="col-md-7">
            <div>
                <span class="Name">Пьер</span> <span class="Surname">Жуковский</span>
            </div>
            <div>
                <br />
                <span>Пример комментарияПример комментарияПример комментарияПример комментарияПример комментарияПример комментарияПример комментарияПример комментарияПример комментарияПример комментария</span>
            </div>
        </div>
        <div class="col-md-offset-10">
            <p datetime="2017-04-13T19:45"> 19:45 13.04</p>
        </div>
        <br />
    </div>
    <div class="row">
        <br />
        <div class="col-md-2">
            <div>
                <p class="Surname" hidden>Кот</p>
                <p class="Login" hidden>Njeeert</p>
                <p class="RegID" hidden>7647658765-674365976</p>
                <img src="~/assets/avatars/026.png" class="ra-avatar img-responsive" />
            </div>
        </div>
        <div class="col-md-7">
            <div>
                <span class="Name">Матроскин</span> <span class="Surname">Кот</span>
            </div>
            <div>
                <br />
                <span>Пример комментария</span>
                <br />
            </div>

        </div>

        <div class="col-md-offset-10">
            <p datetime="2017-04-13T20:15"> 20:15 13.04</p>
            <p><span class="glyphicons glyphicons-thumbs-up"></span></p>
            <!--
                <p><span class="glyphicons glyphicons-heart"></span></p>
                у меня не отображаются почти все глифы
            -->
        </div>
        <br />
    </div>
    <div class="row">
        <br />
        <div class="col-md-2">
            <div>
                <p class="Surname" hidden>Кононов</p>
                <p class="Login" hidden>Maestro</p>
                <p class="RegID" hidden>765769-423475875</p>
                <img src="~/assets/avatars/027.png" class="ra-avatar img-responsive" />
            </div>
        </div>
        <div class="col-md-7">
            <div>
                <span class="Name">Василий</span> <span class="Surname">Кононов</span>
            </div>
            <div>
                <br />
                <span>Пример комментария Пример комментария Пример комментария Пример комментария Пример комментария</span>
            </div>
        </div>
        <div class="col-md-offset-10">
            <p datetime="2017-04-13T20:23"> 20:23 13.04</p>

        </div>
        <br />
    </div>
</div>