@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#All" aria-controls="All" role="tab" data-toggle="tab">All</a></li>
    <li role="presentation"><a href="#Popular" aria-controls="Popular" role="tab" data-toggle="tab">Popular</a></li>
    <li role="presentation"><a href="#Friends" aria-controls="Friends" role="tab" data-toggle="tab">Friends</a></li>
    <li role="presentation"><a href="#Owners" aria-controls="Owners" role="tab" data-toggle="tab">Owners</a></li>
    <li role="presentation"><a href="#Fresh" aria-controls="Fresh" role="tab" data-toggle="tab">Fresh</a></li>
</ul>