@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-md-12">
    <table class="table">
        <tr>
            <td>Логин</td>
            <td>Na_Zavr</td>
        </tr>
        <tr>
            <td>Регистрационный ID</td>
            <td>f29be1af-e59cac9376df</td>
        </tr>
        <tr>
            <td>Дата регистрации</td>
            <td>27-02-2017</td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td>+380996000180</td>
        </tr>
        <tr>
            <td>Skype</td>
            <td>na.zar58</td>
        </tr>
        <tr>
            <td>Электронная почта</td>
            <td>n.syngaivskyi@gmail.com</td>
        </tr>
        <tr>
            <td>Персональный сайт</td>
            <td>https://www.vizatech.com</td>
        </tr>
        <tr>
            <td>Страница в Facebook</td>
            <td>https://www.facebook.com/nazar.syngaivskyi</td>
        </tr>
    </table>
</div>