@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Пользователь</a></li>
    <li role="presentation"><a asp-area="" asp-controller="Home" asp-action="Feed">Новости</a></li>
    <li role="presentation"><a asp-area="" asp-controller="Home" asp-action="Messages">Сообщения</a></li>
    <li role="presentation"><a asp-area="" asp-controller="Home" asp-action="DataSources">Источники Данных</a></li>
    <li role="presentation"><a href="#">Ресурсы</a></li>
    <li role="presentation"><a href="#">Поиск</a></li>
    <li role="presentation"><a href="#">Настройка</a></li>
    <li role="presentation"><a href="#">Владелец</a></li>
    <li role="presentation"><a href="#">Администратор</a></li>
    <li role="presentation"><a asp-area="" asp-controller="Home" asp-action="DeviceCreate">Testingit</a></li>
</ul>