@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="element-item col-xs-2 col-md-3 iot sql mob web" data-category="owner">
        <p class="Surname" hidden>Демидов</p>
        <p class="Login" hidden>dem817</p>
        <p class="RegID" hidden>09868759-8653673</p>
        <img src="~/assets/avatars/001.png" class="ra-avatar img-responsive" />
    </div>

    <div class="col-md-3 col-xs-2 element-item iot sql" data-category="owner">
        <p class="Surname" hidden>Игнатеня</p>
        <p class="Login" hidden>Falosetg</p>
        <p class="RegID" hidden>765434967-85646743849</p>
        <img src="~/assets/avatars/025.png" class="ra-avatar img-responsive" />
    </div>
    <div class=" col-md-3 col-xs-2  element-item iot web" data-category="owner">
        <p class="Surname" hidden>Алимов</p>
        <p class="Login" hidden>coobe3</p>
        <p class="RegID" hidden>65965476-86590875</p>
        <img src="~/assets/avatars/002.png" class="ra-avatar img-responsive" />
    </div>
    <div class=" col-md-3 col-xs-2 element-item iot" data-category="owner">
        <p class="Surname" hidden>Мисечко</p>
        <p class="Login" hidden>maatr</p>
        <p class="RegID" hidden>7868756674-97646743659</p>
        <img src="~/assets/avatars/003.png" class="ra-avatar img-responsive" />
    </div>

    <div class="col-md-3 col-xs-2 element-item iot" data-category="owner">
        <p class="Surname" hidden>Жуковский</p>
        <p class="Login" hidden>Hguart</p>
        <p class="RegID" hidden>8764349650-96763568</p>
        <img src="~/assets/avatars/004.png" class="ra-avatar img-responsive" />
    </div>
    <div class=" col-md-3 col-xs-2 element-item iot sql" data-category="owner">
        <p class="Surname" hidden>Игнатеня</p>
        <p class="Login" hidden>Falosetg</p>
        <p class="RegID" hidden>765434967-85646743849</p>
        <img src="~/assets/avatars/005.png" class="ra-avatar img-responsive" />
    </div>

    <div class="col-md-3 col-xs-2 element-item iot" data-category="owner">
        <p class="Surname" hidden>Мисечко</p>
        <p class="Login" hidden>maatr</p>
        <p class="RegID" hidden>7868756674-97646743659</p>
        <img src="~/assets/avatars/023.png" class="ra-avatar img-responsive" />
    </div>

</div><div class="row">
    <div class="element-item col-xs-2 col-md-3 iot sql mob web" data-category="owner">
        <p class="Surname" hidden>Демидов</p>
        <p class="Login" hidden>dem817</p>
        <p class="RegID" hidden>09868759-8653673</p>
        <img src="~/assets/avatars/001.png" class="ra-avatar img-responsive" />
    </div>

    <div class="col-md-3 col-xs-2 element-item iot sql" data-category="owner">
        <p class="Surname" hidden>Игнатеня</p>
        <p class="Login" hidden>Falosetg</p>
        <p class="RegID" hidden>765434967-85646743849</p>
        <img src="~/assets/avatars/025.png" class="ra-avatar img-responsive" />
    </div>
    <div class=" col-md-3 col-xs-2  element-item iot web" data-category="owner">
        <p class="Surname" hidden>Алимов</p>
        <p class="Login" hidden>coobe3</p>
        <p class="RegID" hidden>65965476-86590875</p>
        <img src="~/assets/avatars/002.png" class="ra-avatar img-responsive" />
    </div>
    <div class=" col-md-3 col-xs-2 element-item iot" data-category="owner">
        <p class="Surname" hidden>Мисечко</p>
        <p class="Login" hidden>maatr</p>
        <p class="RegID" hidden>7868756674-97646743659</p>
        <img src="~/assets/avatars/003.png" class="ra-avatar img-responsive" />
    </div>

    <div class="col-md-3 col-xs-2 element-item iot" data-category="owner">
        <p class="Surname" hidden>Жуковский</p>
        <p class="Login" hidden>Hguart</p>
        <p class="RegID" hidden>8764349650-96763568</p>
        <img src="~/assets/avatars/004.png" class="ra-avatar img-responsive" />
    </div>
    <div class=" col-md-3 col-xs-2 element-item iot sql" data-category="owner">
        <p class="Surname" hidden>Игнатеня</p>
        <p class="Login" hidden>Falosetg</p>
        <p class="RegID" hidden>765434967-85646743849</p>
        <img src="~/assets/avatars/005.png" class="ra-avatar img-responsive" />
    </div>

    <div class="col-md-3 col-xs-2 element-item iot" data-category="owner">
        <p class="Surname" hidden>Мисечко</p>
        <p class="Login" hidden>maatr</p>
        <p class="RegID" hidden>7868756674-97646743659</p>
        <img src="~/assets/avatars/023.png" class="ra-avatar img-responsive" />
    </div>

</div>