@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-6 col-xs-12">
        <img src="~/assets/avatar.jpg" class="ra-avatar img-responsive" />
    </div>
    <div class="col-md-6 col-xs-12">
        <span class="ra-first-name">Назар</span>
        <span class="ra-last-name">Сингаївський</span>
        <span class="ra-position">.NET Core Developer</span>
    </div>
</div>