@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-3 col-xs-2 element-item iot sql mob web" data-category="owner">
        <p class="Surname" hidden>Демидов</p>
        <p class="Login" hidden>dem817</p>
        <p class="RegID" hidden>09868759-8653673</p>
        <img src="~/assets/avatars/021.png" class="ra-avatar img-responsive" />
    </div>
    <div class="col-md-3 col-xs-2 element-item iot web" data-category="owner">
        <p class="Surname" hidden>Алимов</p>
        <p class="Login" hidden>coobe3</p>
        <p class="RegID" hidden>65965476-86590875</p>
        <img src="~/assets/avatars/022.png" class="ra-avatar img-responsive" />
    </div>
    <div class="col-md-3 col-xs-2 element-item iot" data-category="owner">
        <p class="Surname" hidden>Мисечко</p>
        <p class="Login" hidden>maatr</p>
        <p class="RegID" hidden>7868756674-97646743659</p>
        <img src="~/assets/avatars/023.png" class="ra-avatar img-responsive" />
    </div>
    <div class="col-md-3 col-xs-2 element-item iot" data-category="owner">
        <p class="Surname" hidden>Жуковский</p>
        <p class="Login" hidden>Hguart</p>
        <p class="RegID" hidden>8764349650-96763568</p>
        <img src="~/assets/avatars/024.png" class="ra-avatar img-responsive" />
    </div>
    <div class="col-md-3 col-xs-2 element-item iot sql" data-category="owner">
        <p class="Surname" hidden>Игнатеня</p>
        <p class="Login" hidden>Falosetg</p>
        <p class="RegID" hidden>765434967-85646743849</p>
        <img src="~/assets/avatars/025.png" class="ra-avatar img-responsive" />
    </div>
    <div class="col-md-3 col-xs-2 element-item sql mob" data-category="owner">
        <p class="Surname" hidden>Кот</p>
        <p class="Login" hidden>Njeeert</p>
        <p class="RegID" hidden>7647658765-674365976</p>
        <img src="~/assets/avatars/026.png" class="ra-avatar img-responsive" />
    </div>
    <div class="col-md-3 col-xs-2 element-item sql" data-category="owner">
        <p class="Surname" hidden>Кононов</p>
        <p class="Login" hidden>Maestro</p>
        <p class="RegID" hidden>765769-423475875</p>
        <img src="~/assets/avatars/027.png" class="ra-avatar img-responsive" />
    </div>
    <div class="col-md-3 col-xs-2 element-item sql" data-category="owner">
        <p class="Surname" hidden>Винокуров</p>
        <p class="Login" hidden>qler</p>
        <p class="RegID" hidden>089679875675-352473865469</p>
        <img src="~/assets/avatars/028.png" class="ra-avatar img-responsive" />
    </div>
    <div class="col-md-3 col-xs-2 element-item iot web" data-category="owner">
        <p class="Surname" hidden>Савчук</p>
        <p class="Login" hidden>Yulod</p>
        <p class="RegID" hidden>865465468-5421543</p>
        <img src="~/assets/avatars/029.png" class="ra-avatar img-responsive" />
    </div>

</div>