@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="panel-body">
    <div class="row">
        <div class="col-md-2">
            <img src="/assets/avatar.jpg" class="ra-avatar img-responsive">
        </div>
        <div class="col-md-9">
            <div>
                <textarea class="form-control feedComment" rows="3" placeholder="Ваш комментарий" style="min-width:100%"></textarea>
                <br />
                <button class="btn btn-info pull-right" type="button">Send</button>
            </div>
        </div>
    </div>
</div>